input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 669px;
	height: 1311px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 669px;
	height: 1311px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 auto 0 auto;
	min-width: 669px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 345px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 7px;
	top: 50%;
	margin-top: -12px;
	width: 321px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 340px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#gToolbar
{
	position: absolute !important;
	left: 42px;
	top: 1px;
	cursor: inherit;
	opacity: 1;
}

#gToolbar .rtbInner > ul > li > a
{
	background-position: center;
	height: 29px !important;
}

#gToolbar .rtbWrap
{
	padding: 0px !important;
}

.Button1
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/novo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button2
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/salvar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button3
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/cancelar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button4
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/excluir.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button6
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/anterior.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button7
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/proximo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button9
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/filtro.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button10
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/editar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

#RadTextBox1
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 55px;
	width: 360px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 55px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox2
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 83px;
	width: 360px !important;
}

#Label6
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 83px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 209px;
	top: 111px;
	width: 360px;
	width: 360px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label7
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 111px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox3
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox3_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 140px;
	width: 360px !important;
}

#Label8
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 140px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox4
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox4_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 168px;
	width: 360px !important;
}

#Label9
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 168px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox5
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox5_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 196px;
	width: 360px !important;
}

#Label10
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 196px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox6
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox6_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 224px;
	width: 360px !important;
}

#Label11
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 224px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox7
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox7_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 252px;
	width: 360px !important;
}

#Label12
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 252px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox8
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox8_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 280px;
	width: 360px !important;
}

#Label13
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 280px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox9
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox9_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 308px;
	width: 360px !important;
}

#Label14
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 308px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox10
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox10_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 336px;
	width: 360px !important;
}

#Label15
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 336px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox11
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox11_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 364px;
	width: 360px !important;
}

#Label16
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 364px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox12
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox12_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 392px;
	width: 360px !important;
}

#Label17
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 392px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#ComboBox2
{
	position: absolute !important;
	left: 209px;
	top: 420px;
	width: 360px;
	width: 360px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label18
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 420px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#ComboBox3
{
	position: absolute !important;
	left: 209px;
	top: 449px;
	width: 360px;
	width: 360px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label19
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 449px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox13
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 200px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox13_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 478px;
	width: 360px !important;
}

#Label20
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 478px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox14
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 200px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox14_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 685px;
	width: 360px !important;
}

#Label21
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 685px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox15
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 200px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox15_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 892px;
	width: 360px !important;
}

#Label22
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 892px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox16
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox16_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 1099px;
	width: 360px !important;
}

#Label23
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 1099px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#DatePicker1_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 209px;
	top: 1127px;
	width: 360px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label24
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 1127px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#RadTextBox17
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox17_wrapper
{
	position: absolute !important;
	left: 209px;
	top: 1154px;
	width: 360px !important;
}

#Label25
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 1154px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#DatePicker2_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 209px;
	top: 1182px;
	width: 360px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label26
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 1182px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#ComboBox4
{
	position: absolute !important;
	left: 209px;
	top: 1209px;
	width: 360px;
	width: 360px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label27
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 1209px;
	width: 159px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 1243px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 1271px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link6
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label28
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link7
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label29
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label30
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label31
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label32
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link8
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label33
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link9
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

