input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 800px;
	height: 1149px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 800px;
	height: 1149px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 301px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 50%;
	margin-top: -12px;
	width: 266px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 301px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#gToolbar
{
	position: absolute !important;
	left: 176px;
	top: 1px;
	cursor: inherit;
	opacity: 1;
}

#gToolbar .rtbInner > ul > li > a
{
	background-position: center;
	height: 29px !important;
}

#gToolbar .rtbWrap
{
	padding: 0px !important;
}

.Button6
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/novo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button7
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/salvar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button8
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/cancelar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button9
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/excluir.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button11
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/anterior.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button12
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/proximo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button14
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/filtro.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button15
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/editar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button16
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/print.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 30px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 1081px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 1109px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link6
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label28
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link7
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label29
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label30
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label31
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label32
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link8
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label33
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link9
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Button2
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 303px;
	top: 43px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 100px;
}

#Button3
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 417px;
	top: 43px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 100px;
}

#Button4
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 530px;
	top: 43px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 100px;
}

#Button5
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 645px;
	top: 43px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 100px;
}

#TabControl1
{
	cursor: inherit;
	opacity: 1;
}

#TabItem1
{
	cursor: inherit;
	opacity: 1;
}

#TabPage1
{
	bottom: -1px;
	cursor: inherit;
	height: 948px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#RadTextBox1
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 100px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 42px;
	width: 100px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 17px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox2
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	background-color: #454343;
	width: 150px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 133px;
	top: 42px;
	width: 150px !important;
}

#Label6
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 133px;
	top: 17px;
	width: 150px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox3
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 120px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox3_wrapper
{
	position: absolute !important;
	left: 294px;
	top: 42px;
	width: 120px !important;
}

#Label7
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 294px;
	top: 17px;
	width: 120px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker1_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 425px;
	top: 42px;
	width: 200px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label8
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 425px;
	top: 17px;
	width: 200px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label9
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 633px;
	top: 15px;
	width: 122px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label10
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 73px;
	width: 160px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox6
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 350px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox6_wrapper
{
	position: absolute !important;
	left: 405px;
	top: 98px;
	width: 350px !important;
}

#Label11
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 405px;
	top: 73px;
	width: 350px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label12
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 253px;
	top: 73px;
	width: 130px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox8
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox8_wrapper
{
	position: absolute !important;
	left: 403px;
	top: 153px;
	width: 360px !important;
}

#Label13
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 403px;
	top: 128px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox9
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox9_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 154px;
	width: 360px !important;
}

#Label14
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 129px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 23px;
	top: 98px;
	width: 160px;
	width: 160px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#ComboBox3
{
	position: absolute !important;
	left: 253px;
	top: 98px;
	width: 130px;
	width: 130px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#TxtTipoLogradouro
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtTipoLogradouro_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 214px;
	width: 360px !important;
}

#Label15
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 189px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtLogradouro
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtLogradouro_wrapper
{
	position: absolute !important;
	left: 403px;
	top: 215px;
	width: 360px !important;
}

#Label16
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 403px;
	top: 190px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtBairro
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtBairro_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 267px;
	width: 360px !important;
}

#Label17
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 242px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtCidade
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtCidade_wrapper
{
	position: absolute !important;
	left: 403px;
	top: 268px;
	width: 360px !important;
}

#Label18
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 403px;
	top: 243px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtCEP
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 140px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtCEP_wrapper
{
	position: absolute !important;
	left: 155px;
	top: 320px;
	width: 140px !important;
}

#Label19
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 155px;
	top: 295px;
	width: 140px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtUF
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 110px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtUF_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 321px;
	width: 110px !important;
}

#Label20
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 296px;
	width: 110px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox16
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox16_wrapper
{
	position: absolute !important;
	left: 403px;
	top: 321px;
	width: 360px !important;
}

#Label21
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 403px;
	top: 296px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Button1
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 305px;
	top: 317px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 80px;
}

#LabBuscaRetorno
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 223px;
	top: 295px;
	width: 156px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #DE3914;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label22
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 357px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label23
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 403px;
	top: 357px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label24
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 420px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox4
{
	position: absolute !important;
	left: 23px;
	top: 384px;
	width: 360px;
	width: 360px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#ComboBox5
{
	position: absolute !important;
	left: 403px;
	top: 384px;
	width: 360px;
	width: 360px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#RadTextBox19
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 743px;
	height: 80px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox19_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 447px;
	width: 743px !important;
}

#RadTextBox20
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 743px;
	height: 100px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox20_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 568px;
	width: 743px !important;
}

#Label25
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 543px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox21
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 743px;
	height: 150px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox21_wrapper
{
	position: absolute !important;
	left: 23px;
	top: 712px;
	width: 743px !important;
}

#Label26
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 687px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker2_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 901px;
	width: 360px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label27
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 23px;
	top: 876px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox6
{
	position: absolute !important;
	left: 633px;
	top: 40px;
	width: 122px;
	width: 122px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#TabItem2
{
	cursor: inherit;
	opacity: 1;
}

#TabPage2
{
	bottom: -1px;
	cursor: inherit;
	height: 948px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#Grid3
{
	position: absolute !important;
	left: 28px;
	top: 27px;
	width: 663px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid3_EditColumn
{
	width: 20px;
}

.Grid3_EditColumn
{
	width: 0px;
}

#GridColumn39
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#TabItem3
{
	cursor: inherit;
	opacity: 1;
}

#TabPage3
{
	bottom: -1px;
	cursor: inherit;
	height: 948px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#Grid2
{
	position: absolute !important;
	left: 16px;
	top: 23px;
	width: 743px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid2_EditColumn
{
	width: 20px;
}

.Grid2_EditColumn
{
	width: 0px;
}

#GridColumn10
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn11
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn12
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn13
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn14
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn15
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn16
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn17
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn18
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn19
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GridColumn20
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn21
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn22
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn23
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn24
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn25
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn26
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn27
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn28
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn29
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn30
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn31
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn32
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn33
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn34
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn35
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn36
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#TabItem4
{
	cursor: inherit;
	opacity: 1;
}

#TabPage4
{
	bottom: -1px;
	cursor: inherit;
	height: 948px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#Grid4
{
	position: absolute !important;
	left: 41px;
	top: 43px;
	width: 652px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid4_EditColumn
{
	width: 20px;
}

.Grid4_EditColumn
{
	width: 0px;
}

#GridColumn42
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#TabItem5
{
	cursor: inherit;
	opacity: 1;
}

#TabPage5
{
	bottom: -1px;
	cursor: inherit;
	height: 948px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#Grid1
{
	position: absolute !important;
	left: 17px;
	top: 29px;
	width: 741px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid1_EditColumn
{
	width: 20px;
}

.Grid1_EditColumn
{
	width: 0px;
}

#GridColumn1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn5
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn6
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn7
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn8
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn9
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GComboBoxItem3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem5
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

