input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	height: 866px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	height: 866px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 auto 0 auto;
	min-width: 1266px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-right: 0px;
	right: 0px;
	height: 65px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 30px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 50%;
	margin-right: 0px;
	margin-top: -17px;
	right: 0px;
	height: 35px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Center;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Grid1
{
	position: absolute !important;
	left: 0px;
	top: 285px;
	margin-right: 0px;
	right: 0px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid1_EditColumn
{
	width: 20px;
}

.Grid1_EditColumn
{
	width: 0px;
}

#GridColumn1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn5
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn6
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn7
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn11
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn12
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn13
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn14
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#cbDisponible
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbDisponibilizado
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbFerias
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbFolga
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbSuspenso
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbafastamentoMed
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbAfasNaoRemu
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbPremio
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbFalecido
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbRestrito
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbExonerado
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#cbExPedido
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GridColumn15
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 838px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	position: absolute !important;
	left: 0px;
	top: 66px;
	margin-right: 0px;
	right: 0px;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: Dotted;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Button1
{
	background-color: #EDEDED;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 2px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 130px;
}

#Button2
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 2px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 130px;
}

#Button3
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 275px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 135px;
}

#Button4
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 275px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 135px;
}

#Button5
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 713px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 120px;
}

#Button6
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 713px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 120px;
}

#Button7
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 841px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 133px;
}

#Button8
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 841px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 133px;
}

#Button9
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 981px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 120px;
}

#Button10
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 981px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 120px;
}

#Button11
{
	background-color: #EDEDED;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 1108px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 124px;
}

#Button12
{
	background-color: #EDEDED;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 1108px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 124px;
}

#Button13
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 139px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 130px;
}

#Button14
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 139px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 130px;
}

#Button15
{
	background-color: #EDEDED;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 416px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 150px;
}

#Button16
{
	background-color: #EDEDED;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 416px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 150px;
}

#Button17
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 572px;
	top: 11px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 134px;
}

#Button18
{
	background-color: #EDEDED;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 572px;
	top: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 50px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 134px;
}

