input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 1010px;
	height: 784px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 1010px;
	height: 784px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 210px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 50%;
	margin-top: -12px;
	width: 175px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 210px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#gToolbar
{
	position: absolute !important;
	left: 405px;
	top: 0px;
	cursor: inherit;
	opacity: 1;
}

#gToolbar .rtbInner > ul > li > a
{
	background-position: center;
	height: 29px !important;
}

#gToolbar .rtbWrap
{
	padding: 0px !important;
}

.Button2
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/novo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button3
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/salvar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button4
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/cancelar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button5
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/excluir.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button7
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/anterior.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button8
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/proximo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button10
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/filtro.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button11
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/editar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

#RadTextBox1
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	background-color: #F1F1F1;
	width: 114px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 80px;
	width: 114px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 55px;
	width: 114px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox2
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 160px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 160px;
	top: 80px;
	width: 160px !important;
}

#Label6
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 160px;
	top: 55px;
	width: 160px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox3
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox3_wrapper
{
	position: absolute !important;
	left: 340px;
	top: 80px;
	width: 360px !important;
}

#Label7
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 340px;
	top: 55px;
	width: 181px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox4
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 174px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox4_wrapper
{
	position: absolute !important;
	left: 712px;
	top: 79px;
	width: 174px !important;
}

#Label8
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 712px;
	top: 54px;
	width: 94px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox5
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 160px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox5_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 133px;
	width: 160px !important;
}

#Label9
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 108px;
	width: 160px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox6
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 320px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox6_wrapper
{
	position: absolute !important;
	left: 210px;
	top: 133px;
	width: 320px !important;
}

#Label10
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 210px;
	top: 108px;
	width: 168px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox7
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 340px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox7_wrapper
{
	position: absolute !important;
	left: 547px;
	top: 133px;
	width: 340px !important;
}

#Label11
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 547px;
	top: 108px;
	width: 181px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox8
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 180px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox8_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 186px;
	width: 180px !important;
}

#Label12
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 161px;
	width: 180px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox9
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 273px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox9_wrapper
{
	position: absolute !important;
	left: 230px;
	top: 186px;
	width: 273px !important;
}

#Label13
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 161px;
	width: 137px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 521px;
	top: 185px;
	width: 145px;
	width: 145px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label14
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 521px;
	top: 160px;
	width: 170px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label15
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 687px;
	top: 160px;
	width: 130px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox11
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 180px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox11_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 239px;
	width: 180px !important;
}

#Label16
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 214px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox12
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 273px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox12_wrapper
{
	position: absolute !important;
	left: 230px;
	top: 239px;
	width: 273px !important;
}

#Label17
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 214px;
	width: 273px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtTipoLogradouro
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 160px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtTipoLogradouro_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 292px;
	width: 160px !important;
}

#Label18
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 267px;
	width: 160px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtLogradouro
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtLogradouro_wrapper
{
	position: absolute !important;
	left: 210px;
	top: 293px;
	width: 360px !important;
}

#Label19
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 210px;
	top: 268px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtBairro
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 301px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtBairro_wrapper
{
	position: absolute !important;
	left: 586px;
	top: 294px;
	width: 301px !important;
}

#Label20
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 586px;
	top: 269px;
	width: 301px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtCidade
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtCidade_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 345px;
	width: 360px !important;
}

#Label21
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 320px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtUF
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 161px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtUF_wrapper
{
	position: absolute !important;
	left: 407px;
	top: 346px;
	width: 161px !important;
}

#Label22
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 407px;
	top: 321px;
	width: 161px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtCEP
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 131px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtCEP_wrapper
{
	position: absolute !important;
	left: 586px;
	top: 346px;
	width: 131px !important;
}

#Label23
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 586px;
	top: 321px;
	width: 131px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox19
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 182px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox19_wrapper
{
	position: absolute !important;
	left: 521px;
	top: 240px;
	width: 182px !important;
}

#Label24
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 521px;
	top: 215px;
	width: 145px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox20
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 166px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox20_wrapper
{
	position: absolute !important;
	left: 722px;
	top: 240px;
	width: 166px !important;
}

#Label25
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 722px;
	top: 215px;
	width: 166px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox21
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox21_wrapper
{
	position: absolute !important;
	left: 187px;
	top: 402px;
	width: 360px !important;
}

#Label26
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 187px;
	top: 377px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox22
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 328px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox22_wrapper
{
	position: absolute !important;
	left: 559px;
	top: 402px;
	width: 328px !important;
}

#Label27
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 559px;
	top: 377px;
	width: 328px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox23
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 137px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox23_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 402px;
	width: 137px !important;
}

#Label28
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 377px;
	width: 137px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox24
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 360px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox24_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 456px;
	width: 360px !important;
}

#Label29
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 431px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox25
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 487px;
	height: 186px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox25_wrapper
{
	position: absolute !important;
	left: 402px;
	top: 454px;
	width: 487px !important;
}

#Label30
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 402px;
	top: 429px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ListBox1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 505px;
	width: 360px;
	height: 135px;
	background-color: #C9C9C9;
	cursor: inherit;
	opacity: 1;
}

#ListItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem5
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem6
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem7
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem8
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem9
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#ListItem10
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#Label31
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 480px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 716px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 744px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link6
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label32
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link7
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label33
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label34
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label35
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label36
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link8
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label37
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link9
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#DatePicker1_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 687px;
	top: 185px;
	width: 201px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Button1
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 733px;
	top: 344px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 90px;
}

#LabBuscaRetorno
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 644px;
	top: 323px;
	width: 173px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #DE3914;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

