input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 896px;
	height: 795px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 896px;
	height: 795px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 auto 0 auto;
	min-width: 896px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #0A64A0;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 307px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 50%;
	margin-top: -12px;
	width: 272px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 307px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#gToolbar
{
	position: absolute !important;
	left: 287px;
	top: 1px;
	cursor: inherit;
	opacity: 1;
}

#gToolbar .rtbInner > ul > li > a
{
	background-position: center;
	height: 29px !important;
}

#gToolbar .rtbWrap
{
	padding: 0px !important;
}

.Button2
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/novo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button3
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/salvar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button4
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/cancelar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button5
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/excluir.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button7
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/anterior.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button8
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/proximo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button10
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/filtro.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button11
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/editar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 725px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 753px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link6
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label20
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link7
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label21
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label22
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label23
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label24
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link8
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label25
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link9
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#TabControl1
{
	cursor: inherit;
	opacity: 1;
}

#TabItem1
{
	cursor: inherit;
	opacity: 1;
}

#TabPage1
{
	bottom: -1px;
	cursor: inherit;
	height: 614px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#RadTextBox1
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	background-color: #F2F2F2;
	width: 78px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 13px;
	top: 39px;
	width: 78px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 13px;
	top: 14px;
	width: 50px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker1_wrapper
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 123px;
	top: 39px;
	width: 129px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label6
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 123px;
	top: 14px;
	width: 125px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 267px;
	top: 39px;
	width: 199px;
	width: 199px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label7
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 267px;
	top: 14px;
	width: 346px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox2
{
	position: absolute !important;
	left: 13px;
	top: 91px;
	width: 237px;
	width: 237px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label8
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 13px;
	top: 66px;
	width: 210px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox3
{
	position: absolute !important;
	left: 485px;
	top: 38px;
	width: 338px;
	width: 338px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label9
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 485px;
	top: 13px;
	width: 338px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox2
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 554px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 269px;
	top: 93px;
	width: 554px !important;
}

#Label10
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 269px;
	top: 68px;
	width: 554px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboPLACA
{
	position: absolute !important;
	left: 211px;
	top: 145px;
	width: 162px;
	width: 162px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label11
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 211px;
	top: 120px;
	width: 162px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboVIATURA
{
	position: absolute !important;
	left: 13px;
	top: 146px;
	width: 174px;
	width: 174px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label12
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 13px;
	top: 121px;
	width: 174px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox3
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 122px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox3_wrapper
{
	position: absolute !important;
	left: 522px;
	top: 146px;
	width: 122px !important;
}

#Label13
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 522px;
	top: 121px;
	width: 121px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker2_wrapper
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 13px;
	top: 199px;
	width: 171px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label14
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 13px;
	top: 174px;
	width: 171px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker3_wrapper
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 211px;
	top: 199px;
	width: 193px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label15
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 211px;
	top: 174px;
	width: 193px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker4_wrapper
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 662px;
	top: 146px;
	width: 161px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label16
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 662px;
	top: 121px;
	width: 161px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox4
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 235px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox4_wrapper
{
	position: absolute !important;
	left: 426px;
	top: 198px;
	width: 235px !important;
}

#Label17
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 426px;
	top: 173px;
	width: 235px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox5
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 142px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox5_wrapper
{
	position: absolute !important;
	left: 681px;
	top: 198px;
	width: 142px !important;
}

#Label18
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 681px;
	top: 173px;
	width: 142px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Grid1
{
	position: absolute !important;
	left: 18px;
	top: 290px;
	width: 805px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid1_EditColumn
{
	width: 20px;
}

.Grid1_EditColumn
{
	width: 0px;
}

#GridColumn1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn5
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn6
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#Label26
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: 700;
	position: absolute !important;
	left: 23px;
	top: 263px;
	width: 374px;
	height: 20px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-color: #FE0202;
	border-style: None;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-width: 0px;
	color: #DE3914;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Line1
{
	position: absolute !important;
	left: 18px;
	top: 236px;
	width: 800px;
	height: 1px;
	background-color: #E5E5E5;
	cursor: inherit;
	opacity: 1;
}

#ComboPREFIXO
{
	position: absolute !important;
	left: 385px;
	top: 145px;
	width: 124px;
	width: 124px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label27
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 385px;
	top: 120px;
	width: 124px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TabItem2
{
	cursor: inherit;
	opacity: 1;
}

#TabPage2
{
	bottom: -1px;
	cursor: inherit;
	height: 614px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#GEditor1
{
	position: absolute !important;
	left: 28px;
	top: 20px;
	width: 775px;
	height: 477px;
	background-color: Transparent;
	cursor: inherit;
	opacity: 1;
}

#Button1
{
	background-color: #0A64A0;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 660px;
	top: 42px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 204px;
}

#GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

