input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 937px;
	height: 760px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 937px;
	height: 760px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 auto 0 auto;
	min-width: 937px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

#HtmlCodeControl1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	right: 0px;
	cursor: inherit;
	opacity: 1;
}

#labError
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 347px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

