input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 544px;
	height: 804px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 544px;
	height: 804px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 auto 0 auto;
	min-width: 544px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 220px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 9px;
	width: 170px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 220px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#gToolbar
{
	position: absolute !important;
	left: 31px;
	top: 1px;
	cursor: inherit;
	opacity: 1;
}

#gToolbar .rtbInner > ul > li > a
{
	background-position: center;
	height: 29px !important;
}

#gToolbar .rtbWrap
{
	padding: 0px !important;
}

.Button1
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/novo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button2
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/salvar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button3
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/cancelar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button4
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/excluir.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button6
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/anterior.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button7
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/proximo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button9
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/filtro.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button10
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/editar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

#RadTextBox1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 166px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 140px;
	top: 93px;
	width: 166px !important;
}

#Label1
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 140px;
	top: 68px;
	width: 156px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 326px;
	top: 93px;
	width: 186px;
	width: 186px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem6
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#Label2
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 326px;
	top: 68px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker1_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 146px;
	width: 216px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label3
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 121px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker2_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 286px;
	top: 147px;
	width: 208px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label4
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 286px;
	top: 122px;
	width: 130px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtNumTalao
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 162px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtNumTalao_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 198px;
	width: 162px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 173px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #DE3914;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label6
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 206px;
	top: 174px;
	width: 130px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#TxtKm_Inicio
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 216px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_TxtKm_Inicio_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 251px;
	width: 216px !important;
}

#Label7
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 226px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox5
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 208px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox5_wrapper
{
	position: absolute !important;
	left: 286px;
	top: 252px;
	width: 208px !important;
}

#Label8
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 286px;
	top: 227px;
	width: 130px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox2
{
	position: absolute !important;
	left: 30px;
	top: 304px;
	width: 216px;
	width: 216px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label9
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 279px;
	width: 174px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox4
{
	position: absolute !important;
	left: 286px;
	top: 304px;
	width: 216px;
	width: 216px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label11
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 286px;
	top: 279px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox5
{
	position: absolute !important;
	left: 30px;
	top: 359px;
	width: 218px;
	width: 218px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label12
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 334px;
	width: 130px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox6
{
	position: absolute !important;
	left: 286px;
	top: 359px;
	width: 216px;
	width: 216px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label13
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 286px;
	top: 334px;
	width: 162px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox7
{
	position: absolute !important;
	left: 150px;
	top: 413px;
	width: 148px;
	width: 148px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label14
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 150px;
	top: 388px;
	width: 118px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox8
{
	position: absolute !important;
	left: 356px;
	top: 413px;
	width: 146px;
	width: 146px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label15
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 356px;
	top: 388px;
	width: 94px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox9
{
	position: absolute !important;
	left: 30px;
	top: 470px;
	width: 148px;
	width: 148px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label16
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 445px;
	width: 80px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox10
{
	position: absolute !important;
	left: 192px;
	top: 470px;
	width: 146px;
	width: 146px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label17
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 192px;
	top: 445px;
	width: 146px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox11
{
	position: absolute !important;
	left: 354px;
	top: 471px;
	width: 148px;
	width: 148px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label18
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 354px;
	top: 446px;
	width: 148px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox6
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 485px;
	height: 200px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox6_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 524px;
	width: 485px !important;
}

#Label19
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 499px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#labError
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 736px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 764px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link1
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label20
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link2
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label21
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label22
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label23
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label24
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link3
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label25
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link4
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#RadTextBox7
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	background-color: #BCBCBC;
	width: 96px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox7_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 93px;
	width: 96px !important;
}

#Label26
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 68px;
	width: 80px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox12
{
	position: absolute !important;
	left: 206px;
	top: 198px;
	width: 141px;
	width: 141px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#ComboBox13
{
	position: absolute !important;
	left: 364px;
	top: 198px;
	width: 130px;
	width: 130px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label27
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 364px;
	top: 174px;
	width: 124px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox8
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 100px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox8_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 413px;
	width: 100px !important;
}

#Label28
{
	background-color: Transparent;
	font-family: ARIAL;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 388px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#GComboBoxItem7
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

#GComboBoxItem8
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	cursor: inherit;
	opacity: 1;
}

