input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 939px;
	height: 700px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 939px;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 81px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 50%;
	margin-top: -12px;
	width: 46px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 81px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link1
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 11px;
	top: 7px;
	width: 43px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Center;
}

#Label1
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 56px;
	top: 7px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

#Link2
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 69px;
	top: 7px;
	width: 46px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Center;
}

#Label2
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 117px;
	top: 7px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

#Link3
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 133px;
	top: 7px;
	width: 48px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Center;
}

#Label3
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 183px;
	top: 7px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

#Link4
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 199px;
	top: 7px;
	width: 57px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Center;
}

#Label4
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 258px;
	top: 7px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Center;
	word-wrap: normal;
}

#Link5
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 269px;
	top: 7px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Center;
}

#RadTextBox1
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	background-color: #F2F0F0;
	width: 116px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 80px;
	width: 116px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 55px;
	width: 116px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox2
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 536px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 166px;
	top: 80px;
	width: 536px !important;
}

#Label6
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 166px;
	top: 55px;
	width: 360px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 729px;
	top: 80px;
	width: 181px;
	width: 181px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label7
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 729px;
	top: 55px;
	width: 116px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 635px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 663px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link6
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label9
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link7
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label10
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label11
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label12
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label13
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link8
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label14
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link9
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#TabControl1
{
	cursor: inherit;
	opacity: 1;
}

#TabItem1
{
	cursor: inherit;
	opacity: 1;
}

#TabPage1
{
	bottom: -1px;
	cursor: inherit;
	height: 455px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#GEditor1
{
	position: absolute !important;
	left: 13px;
	top: 11px;
	width: 858px;
	height: 434px;
	background-color: Transparent;
	cursor: inherit;
	opacity: 1;
}

#TabItem2
{
	cursor: inherit;
	opacity: 1;
}

#TabPage2
{
	bottom: -1px;
	cursor: inherit;
	height: 455px;
	left: 1px;
	opacity: 1;
	position: absolute;
	right: 1px;
	top: 29px;
}

#Grid1
{
	position: absolute !important;
	left: 23px;
	top: 27px;
	width: 834px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid1_EditColumn
{
	width: 20px;
}

.Grid1_EditColumn
{
	width: 0px;
}

#GridColumn1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

