input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 902px;
	height: 700px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 902px;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 488px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 50%;
	margin-top: -12px;
	width: 453px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div2
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-left: 488px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#RadTextBox1
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	background-color: #E8E7E7;
	width: 110px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 80px;
	width: 110px !important;
}

#Label5
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 55px;
	width: 254px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox1
{
	position: absolute !important;
	left: 157px;
	top: 80px;
	width: 295px;
	width: 295px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label6
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 157px;
	top: 55px;
	width: 295px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#DatePicker1_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 472px;
	top: 80px;
	width: 249px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#Label7
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 472px;
	top: 55px;
	width: 249px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#RadTextBox2
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	width: 249px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 30px;
	top: 132px;
	width: 249px !important;
}

#Label8
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 107px;
	width: 249px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label9
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 543px;
	top: 108px;
	width: 178px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label10
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 304px;
	top: 109px;
	width: 148px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#ComboBox2
{
	position: absolute !important;
	left: 30px;
	top: 247px;
	width: 199px;
	width: 199px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#Label13
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 222px;
	width: 199px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label14
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 459px;
	top: 222px;
	width: 199px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label15
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 668px;
	top: 222px;
	width: 199px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label16
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 244px;
	top: 222px;
	width: 199px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label17
{
	background-color: Transparent;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 280px;
	width: 249px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#labError
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 634px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Div3
{
	background-color: #EDEDED;
	position: absolute !important;
	left: 0px;
	top: 662px;
	margin-right: 0px;
	right: 0px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Link6
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label18
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 82px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link7
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 96px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label19
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 153px;
	top: 13px;
	width: 34px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label20
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 189px;
	top: 13px;
	width: 26px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label21
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 221px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Label22
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 230px;
	top: 13px;
	width: 29px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link8
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 265px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#Label23
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 317px;
	top: 13px;
	width: 11px;
	height: 17px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#Link9
{
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 330px;
	top: 11px;
	width: 50px;
	height: 20px;
	background-color: Transparent;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #00A1D6;
	cursor: pointer;
	opacity: 1;
	text-align: Left;
}

#GEditor1
{
	position: absolute !important;
	left: 30px;
	top: 312px;
	width: 839px;
	height: 311px;
	background-color: Transparent;
	cursor: inherit;
	opacity: 1;
}

#ChkRonda
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 459px;
	top: 180px;
	width: 356px;
	height: 25px;
	background-color: Transparent;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	opacity: 1;
	text-align: Left;
}

#ChkDeligencia
{
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 30px;
	top: 177px;
	width: 322px;
	height: 25px;
	background-color: Transparent;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	direction: ltr;
	opacity: 1;
	text-align: Left;
}

#DatePicker2_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 304px;
	top: 132px;
	width: 148px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#ComboBox7
{
	position: absolute !important;
	left: 244px;
	top: 247px;
	width: 199px;
	width: 199px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#ComboBox8
{
	position: absolute !important;
	left: 459px;
	top: 247px;
	width: 199px;
	width: 199px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#ComboBox9
{
	position: absolute !important;
	left: 668px;
	top: 247px;
	width: 199px;
	width: 199px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#ComboBox10
{
	position: absolute !important;
	left: 543px;
	top: 132px;
	width: 178px;
	width: 178px !important;
	height: 22px;
	height: 22px !important;
	background-color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
}

#gToolbar
{
	position: absolute !important;
	left: 565px;
	top: 1px;
	cursor: inherit;
	opacity: 1;
}

#gToolbar .rtbInner > ul > li > a
{
	background-position: center;
	height: 29px !important;
}

#gToolbar .rtbWrap
{
	padding: 0px !important;
}

.Button1
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/novo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button2
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/salvar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button3
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/cancelar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button4
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/excluir.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button6
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/anterior.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button7
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/proximo.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button9
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/filtro.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button10
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/editar.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button11
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/print.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

.Button12
{
	background-color: Transparent;
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	background-image: url('../Images/Imagens/print_2.png') !important;
	background-repeat: no-repeat !Important;
	background-size: auto !Important;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #000000;
	cursor: pointer;
	height: 29px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 30px;
}

