input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	height: 473px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	height: 473px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	min-height: 393px;
	overflow: inherit;
	position: relative;
	top: 0px;
}

#Div1
{
	background-color: #FFFFFF;
	position: absolute !important;
	left: 50%;
	top: 50%;
	margin-left: -277px;
	margin-top: -196px;
	width: 554px;
	height: 393px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #333333;
	border-style: Solid;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Div4
{
	background-color: #006699;
	position: absolute !important;
	left: -1px;
	top: -1px;
	width: 554px;
	height: 33px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #333333;
	border-style: Solid;
	border-width: 1px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#Label1
{
	background-color: Transparent;
	font-family: Verdana;
	font-size: 16px;
	font-weight: Bolder;
	position: absolute !important;
	left: 8px;
	top: 4px;
	width: 100px;
	height: 25px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

#AjaxPanel1
{
	position: absolute !important;
	left: 10px;
	top: 40px;
	width: 526px;
	height: 333px;
	background-color: Transparent;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
}

#grdView
{
	position: absolute !important;
	left: 13px;
	top: 9px;
	width: 497px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .grdView_EditColumn
{
	width: 20px;
}

.grdView_EditColumn
{
	width: 0px;
}

#Label21
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 12px;
	top: 294px;
	width: 346px;
	height: 30px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

