input[type="button"] {
	-webkit-appearance: none; 
	@include border-radius(0);
}

#Form1
{
	opacity: 1;
}

#Form1_body
{
	width: 1035px;
	height: 780px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainDiv
{
	background-color: #FFFFFF;
	width: 1035px;
	height: 780px;
	background-position: center;
	background-repeat: no-repeat;
	left: 0px;
	margin: 0 0 0 0;
	overflow: inherit;
	position: relative;
	top: 0px;
}

.c_MainAjaxPanel
{
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
}

#Div1
{
	background-color: #00A1D6;
	position: absolute !important;
	left: 0px;
	top: 0px;
	margin-right: 0px;
	right: 0px;
	height: 35px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #000000;
	border-style: None;
	border-width: 0px;
	cursor: inherit;
	opacity: 1;
	overflow: inherit;
}

#labModuleTitle
{
	font-family: Arial;
	font-size: 18px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 50%;
	margin-right: 0px;
	margin-top: -12px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FFFFFF;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Center;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#labError
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 0px;
	top: 748px;
	margin-right: 0px;
	right: 0px;
	height: 25px;
	background-color: Transparent;
	color: #FF0000;
	cursor: inherit;
	opacity: 1;
	Overflow: hidden;
	text-align: Left;
	Text-Overflow: Clip;
	White-space: nowrap;
}

#Label1
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 117px;
	top: 78px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#Label2
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 117px;
	top: 124px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#Label3
{
	background-color: Transparent;
	font-family: Arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 350px;
	top: 124px;
	width: 100px;
	height: 18px;
	border-color: Transparent;
	border-style: None;
	border-width: 0px;
	color: #000000;
	cursor: inherit;
	opacity: 1;
	Padding-right: 0px;
	text-align: Right;
	word-wrap: normal;
}

#DatePicker1_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 232px;
	top: 124px;
	width: 140px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#DatePicker2_wrapper
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 467px;
	top: 124px;
	width: 140px;
	height: 20px;
	cursor: inherit;
	opacity: 1;
}

#RadTextBox1
{
	font-family: 'Times New Roman';
	font-size: 12px;
	font-weight: Lighter;
	width: 616px;
	height: 21px;
	cursor: text;
	opacity: 1;
}

.c_RadTextBox1_wrapper
{
	position: absolute !important;
	left: 232px;
	top: 78px;
	width: 616px !important;
}

#Button1
{
	background-color: #00A1D6;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 634px;
	top: 123px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 100px;
}

#Button2
{
	background-color: #043D4D;
	font-family: arial;
	font-size: 12px;
	font-weight: Lighter;
	position: absolute !important;
	left: 748px;
	top: 123px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #FFFFFF;
	border-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	height: 25px;
	opacity: 1;
	padding: 0px;
	text-align: Center;
	width: 100px;
}

#Grid1
{
	position: absolute !important;
	left: 33px;
	top: 267px;
	width: 968px;
	cursor: inherit;
	opacity: 1;
}

.rgEditRow > .Grid1_EditColumn
{
	width: 20px;
}

.Grid1_EditColumn
{
	width: 0px;
}

#GridColumn1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn3
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn4
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn5
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn6
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

#GridColumn13
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	height: 100%;
	opacity: 1;
	visibility: visible;
	width: 100%;
}

